.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 45px;

    max-width: 1140px;
    height: 100%;

    margin: 0 auto;
    padding: 80px 10px 0;
}

@media screen and (min-width: 768px) {
    .movies-list {
        padding-left: 30px;
        padding-right: 30px;
    }
}