.movies-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 36px;

    max-width: 1140px;
    height: 100%;

    margin: 0 auto;
    padding: 48px 10px 0;

    list-style: none;
}

.movies-list__saved {
    padding-bottom: 153px;
}

@media screen and (min-width: 768px) {
    .movies-list {
        row-gap: 48px;
 
        padding: 80px 30px 0;
    }

    .movies-list__saved {
        padding-bottom: 175px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-list {
        row-gap: 57px;
    }

    .movies-list__saved {
        padding-bottom: 242px;
    }
}