.movies__btn {
    display: block;

    min-width: 240px;

    margin: 63px auto 80px;
    padding: 11px 20px;

    border: 1px solid #424242;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    
    cursor: pointer;
}

.movies__zero {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;

    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .movies__btn {
        min-width: 320px;

        margin-top: 62px;
    }
}

@media screen and (min-width: 1280px) {
    .movies__btn {
        margin-top: 78px;
    }
}