.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    box-sizing: border-box;
}

.not-found__title {
    margin: 0;

    font-size: 80px;
    font-weight: 400;
    line-height: 120%;
}

.not-found__subtitle {
    margin: 0;
    padding-top: 10px;

    font-size: 12px;
    line-height: 110%;
}

.not-found__link {
    position: absolute;
    bottom: 30px;
  
    color: #4285F4;
    font-size: 12px;
  }

@media screen and (min-width: 768px) {
    .not-found__title {
        font-size: 140px;
        line-height: 110%;
    }

    .not-found__subtitle {
        padding-top: 8px;
    
        font-size: 16px;
        line-height: 180%;
    }

    .not-found__link {
        position: absolute;
        
        bottom: 222px;
    }
}

@media screen and (min-width: 1280px) {
    .not-found__title {
        font-size: 140px;
    }

    .not-found__link {
        bottom: 60px;
    }
}